<% content_for(:head) do %>
  <%= javascript_import_module_tag("home")%>
<% end %>

<header>
  <div>
    <%= image_tag('icon-profile.png', class: "", alt: "Profile Pic")%>
    <%= image_tag('logo.png', class: "", alt: "TinderDog Logo") %>
    <%= image_tag('icon-chat.png', class: "", alt: "Chat icon") %>
  </div>
</header>
<section>
</section>
<footer>
</footer>
<p>Hello Dogs Views</p>